.error {
  color: #eb4034;
  border-color: #eb4034;
}

@media (min-width: 65rem) {
  .error aside {
    right: -6.5rem;
  }
}

a {
  color: #0064c1;
  text-decoration: none;
}
a:visited {
  color: #0064c1;
}
