.error {
  color: #eb4034;
  border-color: #eb4034;
}

.login-error {
  margin-left: 1rem;
  font-size: 1rem;
}

@media (min-width: 65rem) {
  aside.error {
    right: -6.5rem;
  }
}

a {
  color: #0064c1;
  text-decoration: none;
}
a:visited {
  color: #0064c1;
}
